/* 여기부터 책의 코드를 작성해주세요 */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a,a:link,a:visited{
    color:inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
/*헤더 영역의 CSS코드*/
/*container클래스는 프로젝트 전반에 걸쳐 사용되는 중요한 클래스,container클래스가 있는 div 태그 기준 너비를 
유지지하는 역할을 한다. */
.container{             
    width:1140px;
    margin:0 auto;
}
/* 프로젝트의 헤더는 스크롤해서 화면을 내리더라도 항상 상단에 고정하려고 합니다. 그러려면 position속성을 fixed값으로 지정
    해야 한다. 프로젝트의 완성본처럼 부드럽게 보이려면 JS가 필요해서 일단 absolute값으로 지정한다. 스크롤했을 때 다른 요소
    밑에 가려서 안 보이는 일이 없도록 헤더의 z-index속성값을 0보다 크게 준다. (여기서는 1로 지정,padding은 1rem,텍스트 black,
    상속되는 속성이라 하위태그에 자동으로 상속됨)*/
header{
    position:fixed;
    color:white;
    top:0;
    z-index:1;
    width:100%;
    padding:1rem;
}
/*헤더 영역의 메뉴 배치와 관련있는 CSS코드*/
header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
  }
/*헤더영역에서 메뉴를 가로 한 줄로 배치하기 위해 display속성값을 flex로 지정하고,내부 여백과 글꼴 크기지정*/
header nav ul{
    display:flex;
}
header nav ul li{
    padding:10px;
}
header button{
    background: transparent;
    border:0;
    cursor: pointer;
    color:white; 
  }
header h1 button{
    font-size: 2rem;
    font-weight:bold;
}
header nav ul li button{
    font-size: 1.2rem;
}
/*헤더영역 애니메이션 */
header.active{
    background-color: #000;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    0%{
        opacity:0
    }
    100%{
        opacity: 1;
    }
}